@font-face {
    font-family: alfredsans;
    src: url(/misc/AlfredSans.otf);
  }

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.herogrid-container {
    padding: 15px;
    display: grid;
    grid-template-areas: 
    'header header nav nav nav'
    'imgtitle imgtitle imgtitle imgslider imgslider';
    gap: 10px;
}

.herosection {
    grid-area: herosection;
    background-image: url(/img/vidar-nordli-mathisen-q-fr4QsIyic-unsplash.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100cqw;
}

#pagegrid {
    display: grid;
    grid-template-areas:
    'herosection herosection herosection herosection herosection'
    'title title intro intro intro'
    'img1 img1 img1 section1 section1'
    'section2 section2 img2 img2 img2'
    'img3 img3 img3 section3 section3'
    'footer footer footer footer footer';
    grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    row-gap: 90px;
    column-gap: 90px;
    column-gap: 4vw;

}

header {
    grid-area: header;
    
}

h1 {
    font-family:alfredsans;
    font-size:40px;
    font-weight:500;
}

h2 {
    font-family:alfredsans;
    font-size:25px;
    font-weight:500;
}

p {
    font-family:alfredsans;
    font-size:16px;
    font-weight:500;
    line-height: 180%;
}

#intro {
    grid-area: intro;
    margin-right: 50px
}

#philosophy {
    grid-area: philosophy;
    margin-left: 50px;
}

#philosophy h2 {
    margin-bottom: 10px;
} 

#logo {
    text-decoration-line:none;
    text-decoration-color: #bc93e38d;
    text-shadow: 0.5px 0px 0px rgb(76, 84, 9);
    color: #54e400f7;
    mix-blend-mode:difference;
}

.flexnavbar {
    grid-area: nav;
    display: flex;
    gap: 7vw;
    margin-top: 10px;
}

#projectlink{
    text-decoration: underline;
}

.navlink {
    text-decoration-line: none;
    text-decoration-color: #b793e3f9;
    font-family:alfredsans;
    font-size:25px;
    font-weight:500;
    text-shadow: 0px 0px 0px rgba(76, 84, 9, 0.276);
    color: #54e400f7;
    mix-blend-mode:difference;
}

.navlink:hover {
    filter:saturate(600%)
}

.navlink:active {
    filter:saturate(600%)
}

#title {
    margin-left: 50px;
    margin-right: 10px;
    grid-area: title;
}



#section1 {
    margin-top: 10%;
    grid-area: section1;
}

#img1section {
    grid-area: img1;
    margin-left: 4vw;
    width: inherit;
    
}

#img1box {
    height: 380px;
    width: inherit;
    overflow: hidden;
}

#img1 {
    width: 100%;
}

#section2 {
    grid-area: section2;
    margin-top: 10%;
    margin-left: 4vw;
    margin-right: 1vw;
}

#img2section {
    grid-area: img2;
    margin-right: -1vw;
    width: inherit;
}

#img2box {
    height: 380px;
    width: inherit;
    overflow: hidden;
}

#img2 {
    width: 100%;
}

#section3 {
    margin-top: 10%;
    grid-area: section3;
}

#img3section {
    grid-area: img3;
    margin-left: 4vw;
    width: inherit;
    
}

#img3box {
    height: 380px;
    width: inherit;
    overflow: hidden;
}

#img3 {
    width: 100%;
}

.textsection {

}

.textsection h2 {
    font-weight: 600;
}

.textsection p {
    margin-top: 10px;
}

.sourceattribution {
    top: 1px;
    opacity: 0.5;
}

.sourceattribution a {
    text-underline-offset: 2px;
    color: black;
}

.sourceattribution a:hover {
    text-underline-offset: 1px;
    color: rgb(0, 38, 255);
    text-decoration-color: rgb(0, 38, 255);
}

footer {
    width: 100vw;
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    'footerlinks footersection footersection footerlogo';
    grid-template-columns: 15vw 15vw 15vw 30vw;
    height: 205px;
    background-color: rgb(233, 233, 233);
}

#flexfooter {
    border-left: 1.5px solid gray;
    grid-area: footerlinks;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 38px;
    margin-left: 50px;
}

.footerlink {
    font-family: alfredsans;
    margin: 12px;
    margin-left: 50px;
    font-size: 16px;
    color:black;
    text-underline-offset: 2px;
}

.footerlink:hover {
    text-underline-offset: 1px;
    color: rgb(0, 38, 255);
    text-decoration-color: rgb(0, 38, 255);
}

#footerlogo {
    margin-top: 29px;
    grid-area: footerlogo;
}

#footerlogo h1 {
    width: 200px;
}

#footerlogo p {
    position: relative;
    bottom: 30px;
    left: 170px;
}

@media only screen and (max-width: 700px) {
    html,body {
        width: 100%;
        height:100%;
        overflow-x: hidden;
    }
    .herogrid-container {
        display: grid;
        grid-template-areas: 
        'header header header header header'
        'nav nav nav nav nav'
        'imgtitle imgtitle imgtitle imgslider imgslider'
        'slogan slogan slogan slogan slogan';
        gap: 10px;
    }
    #logo {
        margin-right: 40px;
    }
    .herosection {
        height: 315px;
        width: 103%;
    }
    #pagegrid {
        display: grid;
        grid-template-areas:
        'herosection herosection herosection herosection herosection'
        'title title title title title'
        'intro intro intro intro intro'
        'img1 img1 img1 img1 img1'
        'section1 section1 section1 section1 section1'
        'footer footer footer footer footer';
        gap: 30px;
    }
    .navlink {
        text-decoration-color: hsla(113, 97%, 45%, 0.922);
    }
    #title {
        margin-left: 5px;
        margin-right: 0px
    }
    #intro {
        margin-left: 10px;
        width: 95vw;
    }
    #philosophy {
        margin-left: 5px;
        width: 95vw;
    }
    footer {
        grid-template-columns: 12vw 12vw 12vw 30vw;
        margin-bottom: -100px;
        width: 100vw;
        height: 220px;
    }
    
    #flexfooter {
        border: none;
        grid-area: footerlinks;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 28px;
        margin-left: 15px;
    }
    .footerlink {
        margin-left: 12px;
    }
    #footerlogo {
        margin-top: 10px;
    }
    #footerlogo p {
        bottom: 0px;
        left: 0px;
        width: 120%;
    }
}